body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #065c09;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
}

.player-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.playerName {
  font-size: 18px;
}

.imgPlayers {
  width: 60px;
  height: 60px;
}

#hangmanImage {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

#lettersGuessedSection,
#attemptsLeft {
  text-align: center;
}

#wordToGuess {
  justify-content: center;
  font-size: 36px;
  text-align: center;
}

button {
  background-color: #065c09;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #45a049;
}

.inputTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input[type="text"] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  text-align: left;
  display: block;
  margin-top: 10px;
}

/* Style de la fenêtre modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Contenu de la fenêtre modale */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}

/* Bouton de fermeture de la fenêtre modale */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
